body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: rgb(6, 57, 134);;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #ccc;
}
th, td {
    padding: 10px;
    text-align: left;
}
a {
    margin: 0 5px;
}
input, button {
    margin: 5px 0;
    padding: 8px;
}
.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}
.card {
    border-radius: 15px;
}
